body {color : royalblue;}
            p {color: royalblue;
                font-size: 50px;
 }
            h1 {color: royalblue;
}
            #truth {color: darkgray;
              font-size: 30px;
}
            #output1{
              font-size: 15px;
              font-color: royalblue;

            }
            button:hover{
            	 background-color : white;
            	font-size : 101%;
            }